.photo img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }

.honda-bg-color{
  background-color: #264653;
}

.bg-button{
  background-color: #E76F51;
}

.client-color{
  color: #E76F51;

}

.honda-background-color{
  background-color: #fceae8;
}

.button-honda{
  background-image: linear-gradient(rgb(255, 88, 155) 0%, rgb(255, 19, 111) 100%);
  color:white;
  border-radius: 8px;
  padding:9px 25px;
  border-style: none;

}

.client-name{
  color:#23A6F0;
}